.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main a {
  margin-top: 10px;
}

.main a:hover {
  color: blue;
}

.search input,
.search button {
  line-height: 25px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 6px;
}

.search input:hover {
  background-color: antiquewhite;
}

.search button {
  margin-left: 5px;
  cursor: pointer;
}

.main ul {
  width: 100%;
  list-style: none;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 25px 10px;
}

.main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
}

.main li img {
  cursor: pointer;
  padding-bottom: 5px;
}
